<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button{
            background-color:lightblue
        }
        h1{ 
            color:blueviolet;
        }
        .container{
            border:solid aliceblue;
            size:15px;
            padding: 75px;
        }
    </style>
</head>
<body>
    <div class="container">
    <center>
    
    <h1>ADD POST</h1>
    <form method="POST">
        <label for="">Title:</label>
        <input name="title" type="text"><br><br>
        <label for="">content</label>
        <input name="content" type="text"><br><br>
        <label for="">slug</label>
        <input name="slug" type="text"><br><br>
        <button class="button">submit</button>
    </div>
    </center>
    </form>
</body>
</html>