<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        h1{ 
            color:blueviolet;
        }
        .container{
            border:solid aliceblue;
            size:15px;
            padding: 15px;

        }
        .button{
            background-color:lightblue
        }
    </style>
</head>
<body>
    <center>
        <div class="container">
    <h1>login</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKdD0Q0ftNOIF69928SibexXx_TAvsjRAXbjcWEAGDuVp-JTU2_E0SiPPCmJQEh_j36Ao&usqp=CAU">
    <form method="post">
        <label for=""><b>Username:</label></b></label>
        <input type="text" placeholder="Enter Username" name="username"><br><br>
        <label for=""><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="password"><br><br>
        <button class="button">submit</button>
    </center>
    </div>
    </form>
</body>
</html>