<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{ 
            color:blueviolet;
        }
        .container{
            border:solid aliceblue;
            size:15px;
            padding: 15px;

        }
        .button{
            background-color:lightblue
        }
    </style>

</head>
<body>
    <center>
        <div class="container">
    <h1>Please Fill this Form for Registration</h1>
    <form method="post">
        <label for="">Username:</label>
        <input type="text" placeholder="Enter Username" name="username"><br><br>
        <label for="">Mobile:</label>
        <input type="number" placeholder="Enter ContactNumber"name="mobile"><br><br>
        <label for="">Email:</label>
        <input type="email" placeholder="Enter EmailId"name="email"><br><br>
        <label for="">Address:</label>
        <input type="text" placeholder="Enter Address" name="address"><br><br>
        <label for="">Password:</label>
        <input type="password" placeholder="Enter Password" name="password"><br><br>
        <button class="button">submit</button>
    </center>
</div>
    </form>
</body>
</html>