<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button{
            background-color:lightblue
        }
        .container{
            border:solid aliceblue;
            size:15px;
            padding: 15px;
        }
        h1{
            color:blue
        }
    </style>
</head>
<body>
    <center>
    <div class="container">
        <h1>UPDATE</h1>
    <form method="POST">
        <label for="">Title:</label>
        <input name="title" type="text" value="{{post[1]}}"><br><br>
        <label for="">Content:</label>
        <textarea name="content" rows="5">{{post[2]}}</textarea><br><br>
        <label for="">Slug:</label>
        <input name="slug" type="text" value="{{post[4]}}"><br><br>
        <button class="button">Update Post</button> 
    </div>
    </center>  
    </form>
</body>
</html>
